include ../includes/head
link(rel="stylesheet", href="/css/product.css")

body
    include ../includes/navigation

    main
        if prods.length > 0
            div.grid
                for product in prods
                    article.card_product-item
                        header.card__header
                            h1.product__title #{product.title}

                        div.card__image
                            img(src=product.imageUrl)
                        div.card__content
                            h2.product__price $#{product.price}
                            p.product__description #{product.description}
                        div.card__actions
                            form(action="/add-to-cart", method="POST")
                                button.btn Add to Cart
        else
            h1 No Products Found!
